<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center">GITHUB USERS</h2>
        </div>
        <div class="col-12">
            <div class="form-group float-right">
                <input type="text" class="form-control" id="name" placeholder="Search User Name" (ngModelChange)="getUserName($event)" [(ngModel)]="user_name">
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered mt-4">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of Users; let i = index">
                            <td style="width: 10%">{{i + 1}}</td>
                            <td style="width: 25%"> <a routerLink="users/{{user.login}}/repos">{{user.login}}</a></td>
                            <td style="width: 35%"><img src={{user.avatar_url}} alt="user.login" /></td>
                            <td style="width: 25%">{{user.type}}</td>
                        </tr>
                        <tr *ngIf="Users.length == 0">
                            <td colspan="4" class="text-center">No Data Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>